*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik';
    background-color:rgb(11, 150, 11) ;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}



.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.main img{
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #fff;
}

.main h1{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.fa-brands{
    color:#fff;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    padding: 23px;
    transition: all 0.5s linear;
    width: 250px;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 2px 3px 4px #fff;
}

.item a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.item:hover{
    z-index: 1000;
    transform: scale(1.1);
    
}
.bottom{
    background-color:rgb(3, 109, 3);
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom h2{
    font-weight: 400;
    color:#fff ;
    
}

/* Loader */

#preloader{
    background: #000 url(../img/preloader.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}